<ul class="[ oocss-full-container-width oocss-sub_section--nav ]">
    <li class="[ oocss-full-container-width oocss-sub_section-nav--bloc ]">
        <div class="[ oocss-sub_section-nav-bloc--head ]">
            <h3>Publications</h3>
        </div>
        <ul class="[ oocss-sub_section-nav-bloc--content ]">
            {% if posts is defined or countPosts('all') > 0 %}
                <li>
                    <a class="[ oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s ] publications-all" href="{{ path('mesclics_admin_posts') }}">Toutes les publications
                    <span class="[ oocss-index oocss-index__d__lateral ]">{{ countPosts('all') }}</span></a>
                </li>
            {% endif %}
            <!-- <li class="[ oocss-sub_section-nav--item oocss-sub_section-nav--item__d__new_post ]"> -->
            <li>
                <a class="[ oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s ] publication-new" href="{{ path('mesclics_admin_posts_new') }}">Nouvelle publication</a>
            </li>
        </ul>
    </li>
    <li class="[ oocss-sub_section-nav--bloc ]">
        <div class="[ oocss-sub_section-nav-bloc--head ]">
            <h3>Collections</h3>
        </div>
        <ul class="[ oocss-sub_section-nav-bloc--content ]">
            {% if collections is defined or countCollections() > 0 %}
                <li>
                    <a class="[ oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s ] collections-all" href="{{ path('mesclics_admin_collections') }}">Toutes les collections<span class="[ oocss-index oocss-index__d__lateral ]">{{ countCollections() }}</span></a>
                </li>
            {% endif %}
            <li>
                <a class="[ oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s ] collection-new" href="{{ path('mesclics_admin_collections_new') }}">Nouvelle collection</a>
            </li>
        </ul>
    </li>
</ul>