{% if posts is defined %}
    <h2 class="[ oocss-title-section ]">Liste des publications</h2>
    <ul class = "[ oocss-block oocss-horizontal oocss-center-h ]">
    <!-- <ul class = "[ oocss-legend oocss-legend__d__list oocss-legend__s__horizontal ]"> -->
        <li class = "[ oocss-headed-block oocss-horizontal ]"><a class="[ oocss-block oocss-horizontal oocss-center-all oocss-button oocss-discret oocss-no-typo ]" href="{{ path('mesclics_admin_posts', {'filter': 'online'}) }}"><span class="[ oocss-index ] online_posts"></span>en ligne</a></li>
        <li class = "[ oocss-headed-block oocss-horizontal ]"><span class="[ oocss-index ] onlineWithPeremption_posts"></span>en ligne avec péremption</li>
        <li class = "[ oocss-headed-block oocss-horizontal ]"><span class="[ oocss-index ] toBePublished_posts"></span>publication à venir</li>
        <li class = "[ oocss-headed-block oocss-horizontal ]"><span class="[ oocss-index ] hasBeenPublished_posts"></span>publication périmée</li>
        <li><a class="[ oocss-block oocss-horizontal oocss-center-all oocss-button oocss-discret oocss-no-typo ]" href="{{ path('mesclics_admin_posts', {'filter': 'draft'}) }}"><span class="[ oocss-index ] draft_posts"></span>brouillon</a></li>
    </ul>
    <ul class="[ oocss-block oocss-horizontal oocss-center-h ]">
        <li class = "[ oocss-headed-block oocss-horizontal ]"><span class="[ oocss-index oocss-icone ] public_post"></span>publique</li>
        <li class = "[ oocss-headed-block oocss-horizontal ]"><span class="[ oocss-index oocss-icone ] private_posts"></span>privée</li>
    </ul>
    <table class="[ oocss-table ]">
        <tr class="[ oocsss-table-head-row ]">
            <th></th>
            {# DATE DE CREATION #}
            <th>
                {% if (postDateCreationSort is defined) %}
                    {% if postDateCreationSort is same as ('ASC') %}
                        {% set sortByDateCreationPath = 'mesclics_admin_posts_date_creation_desc' %}
                        {# {% set sortByDateCreationSymbol = '↓' %} #}
                        {% set sortByDateCreationClass = 'oocss-table-col-sort-desc' %}
                    {% endif %}
                    {% if postDateCreationSort is same as ('DESC') %}
                        {% set sortByDateCreationPath = 'mesclics_admin_posts_date_creation' %}
                        {# {% set sortByDateCreationSymbol = '↑' %} #}
                        {% set sortByDateCreationClass = 'oocss-table-col-sort-asc' %}
                    {% endif %}
                {% else %}
                    {% set sortByDateCreationPath = 'mesclics_admin_posts_date_creation' %}
                    {% set sortByDateCreationClass = 'oocss-table-col-sort-undefined' %}
                {% endif %}
                <a href="{{ path(sortByDateCreationPath) }}" class="[ oocss-table-col-sort ] {{ sortByDateCreationClass }}">date de création</a>
            </th>
            {# TITRE DU POST #}
            <th>
                {% if (postTitleSort is defined)%}
                    {% if postTitleSort is same as ('ASC') %}
                        {% set sortByTitlePath = 'mesclics_admin_posts_title_desc' %}
                        {# {% set sortByTitleSymbol = '↓' %} #}
                        {% set sortByTitleClass = 'oocss-table-col-sort-desc' %}
                    {% endif %}
                    {% if postTitleSort is same as ('DESC') %}
                        {% set sortByTitlePath = 'mesclics_admin_posts_title' %}
                        {# {% set sortByTitleSymbol = '↑' %} #}
                        {% set sortByTitleClass = 'oocss-table-col-sort-asc' %}
                    {% endif %}
                {% else %}
                    {% set sortByTitlePath = 'mesclics_admin_posts_title_desc' %}
                    {% set sortByTitleClass = 'oocss-table-col-sort-undefined' %}
                {% endif %}

                <a href="{{ path(sortByTitlePath) }}" class="[ oocss-table-col-sort ] {{ sortByTitleClass }}">titre de la publication</a>
            </th>
            {# DATE DE PUBLICATION #}
            <th>
                {% if (postDatePublicationSort is defined) %}
                    {% if postDatePublicationSort is same as ('ASC') %}
                        {% set sortByDatePublicationPath = 'mesclics_admin_posts_date_publication_desc' %}
                        {# {% set sortByDatePublicationSymbol = '↓' %} #}
                        {% set sortByDatePublicationClass = 'oocss-table-col-sort-desc' %}
                    {% endif %}
                    {% if postDatePublicationSort is same as ('DESC') %}
                        {% set sortByDatePublicationPath = 'mesclics_admin_posts_date_publication' %}
                        {# {% set sortByDatePublicationSymbol = '↑' %} #}
                        {% set sortByDatePublicationClass = 'oocss-table-col-sort-asc' %}
                    {% endif %}
                {% else %}
                    {% set sortByDatePublicationPath = 'mesclics_admin_posts_date_publication_desc' %}
                    {% set sortByDatePublicationClass = 'oocss-table-col-sort-undefined' %}
                {% endif %}

                <a href="{{ path(sortByDatePublicationPath) }}" class="[ oocss-table-col-sort ] {{ sortByDatePublicationClass }}">début de publication</a>
               
            </th>
            {# DATE DE PEREMPTION #}
            <th>
                {% if (postDatePeremptionSort is defined) %}
                    {% if postDatePeremptionSort is same as ('ASC') %}
                        {% set sortByDatePeremptionPath = 'mesclics_admin_posts_date_depublication_desc' %}
                        {# {% set sortByDatePeremptionSymbol = '↓' %} #}
                        {% set sortByDatePeremptionClass = 'oocss-table-col-sort-desc' %}
                    {% endif %}
                    {% if postDatePeremptionSort is same as ('DESC') %}
                        {% set sortByDatePeremptionPath = 'mesclics_admin_posts_date_depublication' %}
                        {# {% set sortByDatePeremptionSymbol = '↑' %} #}
                        {% set sortByDatePeremptionClass = 'oocss-table-col-sort-asc' %}
                    {% endif %}
                {% else %}
                    {% set sortByDatePeremptionPath = 'mesclics_admin_posts_date_depublication_desc' %}
                    {% set sortByDatePeremptionClass = 'oocss-table-col-sort-undefined' %}
                {% endif %}

                <a href="{{ path(sortByDatePeremptionPath) }}" class="[ oocss-table-col-sort ] {{ sortByDatePeremptionClass }}">fin de publication</a>
            </th>
        </tr>

        {% for post in posts %}
            <tr class="[ oocss-table-row oocss-table-row__d__post ]">
                <td class="[ oocss-table-data__d__discret oocss-table-data__s__horizontal ]">
                    {% if post.isOnline %}
                        {% if post.willBeUnpublished %}
                            <span class="[ oocss-index ] onlineWithPeremption_posts"></span>
                        {% else %}
                            <span class="[ oocss-index ] online_posts"></span>
                        {% endif %}
                    {% endif %}
                    {% if post.willBePublished %}<span class="[ oocss-index ] toBePublished_posts"></span>{% endif %}
                    {% if post.hasBeenPublished %}<span class="[ oocss-index ] hasBeenPublished_posts"></span>{% endif %}
                    {% if post.isDraft %}<span class="[ oocss-index ] draft_posts"></span>{% endif %}
                    
                    {% if post.visibilite is same as ('public') %}<span class="[ oocss-index oocss-icone ] public_post"></span>{% endif %} {% if post.visibilite is same as ('private') %}
                    <span class="[ oocss-index oocss-icone ] private_posts"></span>{% endif %}
                </td>
                <td class="[ oocss-table-data ]">
                    {{ post.dateCreation | date('d/m/y') }} à {{ post.dateCreation | date('H:i') }}
                </td>
                <td class="[ oocss-table-data ]">
                    <a class="[ oocss-table-link ]" href="{{ path('mesclics_admin_post', { 'post_id': post.id }) }}">{{ post.title }}</a>
                </td>
                <td class="[ oocss-table-data ]">
                    {% if post.datePublication is not null %}
                        {{ post.datePublication | date('d/m/y') }} à {{ post.datePublication | date('H:i') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="[ oocss-table-data ]">
                    {% if post.datePeremption is not null %}
                        {{ post.datePeremption | date('d/m/y') }} à {{ post.datePeremption | date('H:i') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p class="[ oocss-block oocss-vertical oocss-center-all ]">Vous n'avez encore aucune publication à votre nom. Lancez-vous en ajoutant une
        <a class="[ oocss-button oocss-headed-block oocss-horizontal oocss-s ] publication-new" href="{{ path('mesclics_admin_posts_new') }}">Nouvelle publication</a>
    </p>
{% endif %}
