{{ form_start(collection_form, {'attr': { 'class': '[ oocss-form ] collection'}})}}
    <div class="[ oocss-form-row ]">
        <div class="[ oocss-form-label ]">{{ form_label(collection_form.name) }}</div>
        <div class="[ oocss-form-error ]">{{ form_errors(collection_form.name) }}</div>
        <div class="[ oocss-form-widget ]">{{ form_widget(collection_form.name, {'attr': {'class': '[ oocss-form-input oocss-form-text ] nom de la collection'
            }}) }}</div>
    </div>

    <div class="[ oocss-form-row ]">
        <div class="[ oocss-form-label ]">{{ form_label(collection_form.description) }}</div>
        <div class="[ oocss-form-error ]">{{ form_errors(collection_form.description) }}</div>
        <div class="[ oocss-form-widget oocss-full-container-width ]">{{ form_widget(collection_form.description, {'attr': {'class': '[ oocss-form-input oocss-form-text ] description'}}) }}</div>
    </div>

    <div class="[ oocss-form-row ]">
        <div class="[ oocss-form-label ]">{{ form_label(collection_form.entity) }}</div>
        <div class="[ oocss-form-error ]">{{ form_errors(collection_form.entity) }}</div>
        <div class="[ oocss-form-widget ]">{{ form_widget(collection_form.entity, {'attr': {'class': '[ oocss-form-input oocss-form-select ] type d\'objet'}}) }}</div>
    </div>

    <div class="oocss-form-row">
        <div class="[ oocss-form-widget ] collection">{{ form_widget(collection_form.submit, {'attr': {'class': '[ oocss-form-input oocss-form-submit oocss-button ]'}}) }}</div>
    </div>

    {{ form_widget(collection_form._token) }}
{{ form_end(collection_form, {'render_rest': false}) }}