
<section class="oocss-widget  {{ widget_size|default('large') }}  collections-list">
     <div class="oocss-widget--head">
          <h2 class="oocss-widget--title">Liste des collections</h2>
     </div>

     <div class="oocss-widget--content">
          <div class="oocss-table oocss-full-container-width">
               <div class="oocss-table-head-row">
                    <span class="oocss-table-head">type d'objet</span>
                    <span class="oocss-table-head" data-column-width="2fr">nom</span>
                    <span class="oocss-table-head">description</span>
               </div>

               {% for collection in collections %}
               <div class="oocss-table-row oocss-clickable-table-row">
                    <span class="oocss-table-data">{{ collection.entity }}</span>
                    <span class="oocss-table-data"><a href="{{ path('mesclics_admin_collection', {'collection_id': collection.id }) }}" title="voir la collection">{{ collection.name }}</a></span>
                    <span class="oocss-table-data">{{ collection.description }}</span>
               </div>
               {% endfor %}
          </div>
     </div>
</section>
