{{ form_start(post_form) }}

    <div class="oocss-form-fieldset">
        {{ form_row(post_form.date_publication, {'label': 'date de mise en ligne', 'help': 'laisser vide pour enregistrer comme brouillon'}) }}
        {{ form_row(post_form.visibilite, {'label': 'visibilité de la publication', 'attr': {'class': 'oocss-center-h'}}) }}
        {{ form_row(post_form.date_peremption, {'label': 'date de dépublication'}) }}
    </div>
    {{ form_row(post_form.title, {'label': 'titre de la publication', 'widget_attr': {'class': 'titre'}}) }}
    {{ form_row(post_form.content, {'label': 'rédiger la publication'}) }}

    <div class="oocss-form-fieldset oocss-vertical">
        {{ form_row(post_form.collections_select, {'attr': {'class': 'oocss-full-container-width'}, 'label': 'associer à une collection', 'help': 'sélectionner une ou plusieurs collections existantes et/ou en créer de nouvelles'}) }}
        <div class="oocss-js-dynamic-target oocss-js-dynamic-template" data-prototype='{% with {'collection_form': post_form.collections_add.vars.prototype, 'label': 'ajouter une collection'} %}{% include "MesClicsPostBundle:Widgets:collection-embedded-form.html.twig" %}{% endwith %}'>
        </div>
        <button class="oocss-button oocss-button-rounded oocss-discret oocss-js-dynamic-button" title="créer une nouvelle collection">+</button> 
    </div>
    

        {{ form_row(post_form.submit, {'label': submit_label}) }}

    {{ form_row(post_form._token) }}
{{ form_end(post_form, {'render_rest': false}) }}

<!-- on ajoute le script pour le traitement dynamique du champ collections -->
<script type="text/javascript">
    const dynamicField = document.querySelector('.oocss-js-dynamic-template');
    const addBtn = document.querySelector('.oocss-js-dynamic-button');
    const targetDiv = document.querySelector('.oocss-js-dynamic-target');

    //on définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = 0;

    function addField(dynamicField){
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
        var dataPrototype = dynamicField.getAttribute('data-prototype');
        console.log(dataPrototype);
        var dataClass = dynamicField.getAttribute('data-class');
        //var dataMyLabel = dynamicField.getAttribute('data-my-label');

        //console.log(dataPrototype);
        //var label = dataPrototype.replace('/__name__label__/g', dataMyLabel + (index+1));
        var field = dataPrototype.replace(/__name__/g, index.toString());

        //on ajoute le champ modifié à la fin de la balise
        var newDiv = document.createElement('div');
        newDiv.innerHTML += field;
        if(dataClass){
            newDiv.classList.add(dataClass);
        }

        targetDiv.appendChild(newDiv.firstChild);
        //on incrémente le compteur de champs dynamiques
        index++;
    }

    addBtn.addEventListener('click', function(e){
        //on désactive la cible du "lien"
        e.preventDefault();
        //on ajoute un nouveau champ
        addField(dynamicField);
    });
</script>