{{ form_start(post_form) }}

    <div class="oocss-form-fieldset">
        {{ form_row(post_form.date_publication, {'label': 'date de mise en ligne', 'help': 'laisser vide pour enregistrer comme brouillon'}) }}
        {{ form_row(post_form.visibilite, {'label': 'visibilité de la publication', 'attr': {'class': 'oocss-center-h'}}) }}
        {{ form_row(post_form.date_peremption, {'label': 'date de dépublication'}) }}
    </div>
    {{ form_row(post_form.title, {'label': 'titre de la publication', 'widget_attr': {'class': 'titre'}}) }}
    {{ form_row(post_form.content, {'label': 'rédiger la publication'}) }}

    <div class="oocss-form-fieldset oocss-vertical">
        {{ form_row(post_form.collections_select, {'attr': {'class': 'oocss-full-container-width'}, 'label': 'associer à une collection', 'help': 'sélectionner une ou plusieurs collections existantes et/ou en créer de nouvelles'}) }}
       {{ form_row(post_form.newcollections, {'attr': {'class': 'oocss-full-container-width'}, 'label': 'ajouter une collection', 'button': {'title': 'ajouter une collection', 'label': '+'}}) }}
    </div>
    <div class="oocss-form-fieldset oocss-horizontal">
        {{ form_row(post_form.submit, {'label': submit_label, 'attr': {'class': submit_class|default("")}}) }}
        <a class="oocss-button oocss-discret oocss-table-data-icon"
            href={{ path('mesclics_admin_post_remove', {'post_id': currentPost.id}) }} title="supprimer la publication">
            Supprimer la publication
        </a>
    </div>
    {{ form_row(post_form._token) }}
{{ form_end(post_form, {'render_rest': false}) }}

<!-- on ajoute le script pour le traitement dynamique du champ collections -->
<script type="text/javascript">
    const addBtns = document.querySelectorAll('.oocss-js-dynamic-button');

    //on définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = 0;

    function addField(dynamicField, targetDiv){
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
        var dataPrototype = dynamicField.getAttribute('data-prototype');
        console.log(dataPrototype);
        var dataClass = dynamicField.getAttribute('data-class');
        //var dataMyLabel = dynamicField.getAttribute('data-my-label');

        //console.log(dataPrototype);
        //var label = dataPrototype.replace('/__name__label__/g', dataMyLabel + (index+1));
        var field = dataPrototype.replace(/__name__/g, index);
        console.log(field);

        //on ajoute le champ modifié à la fin de la balise
        var newDiv = document.createElement('div');
        newDiv.innerHTML += field;
        if(dataClass){
            newDiv.classList.add(dataClass);
        }

        targetDiv.appendChild(newDiv.firstChild);
        //on incrémente le compteur de champs dynamiques
        index++;
    }

    for(let i = 0; i < addBtns.length; i++){
        let addBtn = addBtns[i];
        let dynamicField = addBtn.parentNode.querySelector('.oocss-js-dynamic-template');
        let targetDiv = addBtn.parentNode.querySelector('.oocss-js-dynamic-target');

        
        addBtn.addEventListener('click', function (e) {
            //on désactive la cible du "lien"
            e.preventDefault();
            //on ajoute un nouveau champ
            addField(dynamicField, targetDiv);
        });
    }
</script>