{% if sort_params.sort is not defined or sort_params.sort is same as ('ASC') %}
    {% set sort_param_inv = 'DESC' %}
{% else %}
    {% set sort_param_inv = 'ASC' %}
{% endif %}

{% if posts is defined and posts|length > 0 %}
    <section class="oocss-widget large posts-list">
        <div class="oocss-widget--head">
            <h2 class="oocss-widget--title">Liste des publications</h2>
        </div>

        <div class="oocss-widget--content">
            <ul class="oocss-block oocss-horizontal oocss-center-h oocss-legend oocss-legend__d__list oocss-legend__s__horizontal oocss-filters posts-filters" data-filters-title= "h3/filtrer par statut" data-filters="class:onlinePost/name:en ligne|class:onlineWithPeremptionPost/name:en ligne avec date de péremption|class:toBePublishedPost/name:publié prochainement|class:unpublishedPost/name:dépublié|name:brouillon/class:draftPost" data-filters-target-class="posts-filters-target">
                <button class="oocss-filters-button oocss-legend--item">
                    <span class="oocss-index oocss-filters-button-class"></span>
                    <span data-filters-button-textContent></span>
                </button>
            </ul>
            <ul class="oocss-block oocss-horizontal oocss-center-h oocss-legend oocss-legend__d__list oocss-legend__s__horizontal oocss-filters posts-filters" data-filters-title="h3/filtrer par visibilité" data-filters="class:publicPost/name:public|class:privatePost/name:privé" data-filters-target-class="posts-filters-target">
                <button class="oocss-filters-button oocss-legend--item">
                    <span class="oocss-index oocss-icon oocss-filters-button-class"></span>
                    <span data-filters-button-textContent></span>
                </button>
            </ul>
            <table class="oocss-table oocss-full-container-width posts-filters-target">
                <tr class="oocsss-table-head-row">
                    <th></th>
                    {# DATE DE CREATION #}
                    <th class="none-on-small-screens">
                        {% if sort_params.order_by is not defined or sort_params.order_by is same as ('date-creation') %}
                            {% set sort_param = sort_param_inv %}
                        {% else %}
                            {% set sort_param = 'ASC' %}
                        {% endif %}

                        <a href="{{ path('mesclics_admin_posts', {'order-by': 'date-creation', 'sort': sort_param }) }}"
                            class="[ oocss-table-col-sort {% if sort_params.order_by is not defined or sort_params.order_by is same as ('date-creation') %}oocss-active {% endif %}] sort-{{ sort_params.sort|default('asc') }}">créée
                            le</a>
                    </th>
                    {# TITRE DU POST #}
                    <th>
                        {% if sort_params.order_by is defined and sort_params.order_by is same as ('titre') %}
                            {% set sort_param = sort_param_inv %}
                        {% else %}
                            {% set sort_param = 'ASC' %}
                        {% endif %}

                        <a href="{{ path('mesclics_admin_posts', {'order-by': 'titre', 'sort': sort_param }) }}"
                            class="[ oocss-table-col-sort ] sort-{{ sort_params.sort|default('asc') }} {% if sort_params.order_by is defined and sort_params.order_by is same as ('titre') %}oocss-active {% endif %}">titre</a>
                    </th>
                    {# DATE DE PUBLICATION #}
                    <th>
                        {% if sort_params.order_by is defined and sort_params.order_by is same as ('date-publication-debut') %}
                            {% set sort_param = sort_param_inv %}
                        {% else %}
                            {% set sort_param = 'DESC' %}
                        {% endif %}

                        <a href="{{ path('mesclics_admin_posts', {'order-by': 'date-publication-debut', 'sort': sort_param }) }}" class="[ oocss-table-col-sort ] sort-{{ sort_params.sort|default('desc') }} {% if sort_params.order_by is defined and sort_params.order_by is same as ('date-publication-debut') %}oocss-active {% endif %}">publiée le</a>
                    </th>
                    {# DATE DE PEREMPTION #}
                    <th>
                        {% if sort_params.order_by is defined and sort_params.order_by is same as ('date-publication-fin') %}
                            {% set sort_param = sort_param_inv %}
                        {% else %}
                            {% set sort_param = 'DESC' %}
                        {% endif %}
                        <a href="{{ path('mesclics_admin_posts', {'order-by': 'date-publication-fin', 'sort': sort_param }) }}" class="[ oocss-table-col-sort  {% if sort_params.order_by is defined and sort_params.order_by is same as ('date-publication-fin') %}oocss-active {% endif %}] sort-{{ sort_params.sort|default('asc') }}">dépubliée
                            le</a>
                    </th>
                </tr>
            
                {% for post in posts %}
                    <tr class="oocss-table-row oocss-clickable-table-row oocss-filterable {% for filter in post.filters %}{{ filter }}{% if not loop|last %} {% endif %}{% endfor %}">
                        <td class="oocss-table-data discret oocss-table-data__s__horizontal">
                            {% for filter in post.filters %}
                                {% if filter is same as ('publicPost') or ('privatePost') %}
                                    <span class="oocss-index oocss-icone {{ filter }}"></span>
                                {% else %}
                                    <span class="oocss-index {{ filter }}"></span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="oocss-table-data none-on-small-screens">
                            {{ post.dateCreation | date('d/m/y') }} à {{ post.dateCreation | date('H:i') }}
                        </td>
                        <td class="oocss-table-data">
                            <a class="[ oocss-table-link ]"
                                href="{{ path('mesclics_admin_post', { 'post_id': post.id }) }}">{{ post.title }}</a>
                        </td>
                        <td class="oocss-table-data">
                            {% if post.datePublication is not null %}
                                {{ post.datePublication | date('d/m/y') }} <span class="none-on-small-screens">à {{ post.datePublication | date('H:i') }}</span>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td class="oocss-table-data">
                            {% if post.datePeremption is not null %}
                            {{ post.datePeremption | date('d/m/y') }} <span class="none-on-small-screens">à {{ post.datePeremption | date('H:i') }}</span>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>



        </div>
    </section>
{% else %}
    {% set alert_message = 'Vous n\'avez encore aucune publication à votre nom.' %}
    {% if alert_message is defined %}
        <p class="[ oocss-block oocss-vertical oocss-center-all ]">
            {{ alert_message }}
            <a class="[ oocss-button oocss-headed-block oocss-horizontal oocss-s ] publication-new" href="{{ path('mesclics_admin_posts_new') }}">Ajouter une nouvelle publication</a>
        </p>
    {% endif %}
{% endif %}
