{{ form_start(post_form, {'attr': { 'class': '[ oocss-form oocss-form__d__post ]'}})}}
    <div class="[ oocss-form-row ]">
        <div class="[ oocss-form-label ]">{{ form_label(post_form.title) }}</div>
        <div class="[ oocss-form-error ]">{{ form_errors(post_form.title) }}</div>
        <div class="[ oocss-form-widget ]">{{ form_widget(post_form.title, {'attr': {'class': '[ oocss-form-input oocss-form-text oocss-full-container-width ] titre' }}) }}</div>
    </div>
    
    <div class="[ oocss-form-row ]">
        <div class="[ oocss-form-label ]">{{ form_label(post_form.content) }}</div>
        <div class="[ oocss-form-error ]">{{ form_errors(post_form.content) }}</div>
        <div class="[ oocss-form-widget oocss-full-container-width ]">{{ form_widget(post_form.content, {'attr': {'class': '[ oocss-form-input oocss-form-ckeditor ] content'}}) }}</div>
    </div>
    
    <div class="[ oocss-form-row ]">
        <div class="[ oocss-form-label ]">{{ form_label(post_form.date_publication) }}</div>
        <div class="[ oocss-form-error ]">{{ form_errors(post_form.date_publication) }}</div>
        <div class="[ oocss-form-widget ]">{{ form_widget(post_form.date_publication, {'attr': {'class': '[ oocss-form-input oocss-form-date ] date-publication'}}) }}</div>
    </div>
    
    <div class="[ oocss-form-row ]">
        <div class="[ oocss-form-label ]">{{ form_label(post_form.date_peremption) }}</div>
        <div class="[ oocss-form-error ]">{{ form_errors(post_form.date_peremption) }}</div>
        <div class="[ oocss-form-widget ]">{{ form_widget(post_form.date_peremption, {'attr': {'class': '[ oocss-form-input oocss-form-date ] date-peremption'}}) }}</div>
    </div>

    <div class="[ oocss-form-row ]">
        <div class="[ oocss-form-label ]">{{ form_label(post_form.visibilite) }}</div>
        <div class="[ oocss-form-error ]">{{ form_errors(post_form.visibilite) }}</div>
        <div class="[ oocss-form-widget ]">{{ form_widget(post_form.visibilite, {'attr': {'class': '[ oocss-form-input oocss-form-radio-on-off ] visibilite'}}) }}</div>
    </div>

    <div class="[ oocss-form-row ]">
        <div class="[ oocs-form-label ]">{{ form_label(post_form.collections_select) }}</div>
        <div class="[ oocss-form-fieldset ]">
            <div class="[ oocss-form-error ]">{{ form_errors(post_form.collections_select) }}</div>
            <div class="[ oocss-horizontal oocss-js-dynamic-target ]">{{ form_widget(post_form.collections_select) }}</div>
        </div>
        
        <div class="[ oocss-form-error ]">{{ form_errors(post_form.collections_add) }}</div>
        <div>
            <div data-class="[ oocss-form-fieldset ]" class="[ oocss-js-dynamic-template oocss-horizontal ]" data-prototype="<h4>créer une nouvelle collection</h4><div><p class='[ oocss-block oocss-horizontal oocss-center-all ]'><span>insérer un nom pour la nouvelle collection :</span>{{ form_widget(post_form.collections_add.vars.prototype.name, {'attr':{'class':'[ oocss-form-input ] collection', 'placeholder': 'nom'}})|e('html_attr') }}</p><p class='[ oocss-block oocss-horizontal oocss-center-all ]'> <span>insérer une description pour la nouvelle collection :</span>{{ form_widget(post_form.collections_add.vars.prototype.description, {'attr':{'class':'[ oocss-form-input ] collection', 'placeholder': 'description'}})|e('html_attr') }}</p></div>">
            </div>
            <button class="[ oocss-button oocss-button-rounded oocss-js-dynamic-button ]">+</button>
        </div>
    </div>

    <div class="[ oocss-form-row ]">
        <div class="[ oocss-form-widget ]">{{ form_widget(post_form.submit, {'attr': {'class': '[ oocss-form-input oocss-form-submit oocss-button ]'}, 'label': submit_label }) }}</div>
    </div>

    {{ form_widget(post_form._token) }}
{{ form_end(post_form, {'render_rest': false}) }}

<!-- on ajoute le script pour le traitement dynamique du champ collections -->
<script type="text/javascript">
    const dynamicField = document.querySelector('.oocss-js-dynamic-template');
    const addBtn = document.querySelector('.oocss-js-dynamic-button');
    const targetDiv = document.querySelector('.oocss-js-dynamic-target');

    //on définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = 0;

    function addField(dynamicField){
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
        var dataPrototype = dynamicField.getAttribute('data-prototype');
        var dataClass = dynamicField.getAttribute('data-class');
        //var dataMyLabel = dynamicField.getAttribute('data-my-label');

        console.log(dataPrototype);
        //var label = dataPrototype.replace('/__name__label__/g', dataMyLabel + (index+1));
        var field = dataPrototype.replace(/__name__/g, index.toString());

        //on ajoute le champ modifié à la fin de la balise
        var newDiv = document.createElement('div');
        newDiv.innerHTML += field;
        newDiv.classList = dataClass;

        targetDiv.appendChild(newDiv);
        //on incrémente le compteur de champs dynamiques
        index++;
    }

    addBtn.addEventListener('click', function(e){
        //on désactive la cible du "lien"
        e.preventDefault();
        //on ajoute un nouveau champ
        addField(dynamicField);
    });
</script>