{% set commentClass = "comment" ~ comment.id %}

<div class="oocss-block oocss-vertical{% if comment.parent %} oocss-child{% endif %} {% if comment.isPinned %} oocss-pinned{% endif %}">
    <h4 class="oocss-block oocss-horizontal oocss-quote">
        <div>
            <span>{{ comment.author.username }}</span>
            <span>({{ comment.updatedAt|date("\\l\\e d/m/Y \\à H:i") }})</span>
        </div>
    </h4>
    <span class= "oocss-block {{ commentClass }}">
        {{ comment.content }}
    </span>

    <!-- TODO: add shortcuts to manage the comment -->
    <div class="oocss-block oocss-horizontal oocss-justify-right comment-management">
        {% if (app.user.id) is same as (comment.author.id) %}
            <button class="oocss-button oocss-interface edit oocss-html-modifier" data-target-selector={{ "." ~ commentClass }} title="modifier" data-path={{ path('mesclics_admin_post_backend_comment_update', {'post_id': post.id, 'comment_id':comment.id}) }}>modifier</button>
        {% endif %}
        <button data-path={{ path('mesclics_admin_post_backend_comment_reply', {'post_id': post.id, 'comment_id': comment.id}) }} data-target-selector={{ "." ~ commentClass }} class="oocss-button oocss-interface comment oocss-html-adder" title="répondre">répondre</button>
        <button class="oocss-button oocss-interface oocss-html-modifier pin {% if comment.isPinned %} oocss-pinned{% endif %}" data-path={{ path('mesclics_admin_post_backend_comment_pin', {'comment_id': comment.id, 'post_id': post.id}) }} title="{% if not comment.isPinned %} épingler le commentaire{% else %}retirer l'épingle{% endif %}">{% if not comment.isPinned %} épingler le commentaire{% else %}retirer l'épingle{% endif %}</button>
        {# TODO: only if comment has no children #}
        <button class="oocss-button oocss-interface remove oocss-open-popup" title="supprimer"
            data-popup-path={{ path("mesclics_admin_post_backend_comment_remove", {'post_id': post.id, 'comment_id': comment.id})}}>supprimer</button>
    </div>

    <div class={{ commentClass }}></div>

    <!-- add children -->
    {% for child in comment.children %}
        {% include "MesClicsPostBundle:Templates:backend-comment.html.twig" with {'comment': child, 'post': post} %}
    {% endfor %}
</div>
